<!-- Description: this is the partial view used at the end of each view -->
  <!-- footer -->
  <section id="footer" class="section footer">
    <div class="container">
      <!--<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">-->
        <!--<div class="col-sm-12 align-center">-->
          <!--<ul class="social-network social-circle">-->
            <!--<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>-->
            <!--<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>-->
            <!--<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
            <!--<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>-->
            <!--<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row align-center mar-bot20">-->
        <!--<ul class="footer-menu">-->
          <!--<li><a href="#">Home</a></li>-->
          <!--<li><a href="#">About us</a></li>-->
          <!--<li><a href="#">Privacy policy</a></li>-->
          <!--<li><a href="#">Get in touch</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="row align-center copyright">
        <div class="col-sm-12">
          <p>Copyright &copy; All rights reserved</p>
        </div>
      </div>    
    </div>
  </section>

  <!-- Javascript Library -->
  <script src="public/js/jquery.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
  <script src="public/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="public/js/jquery.easing.1.3.js"></script>
  <script src="public/js/jquery.isotope.min.js"></script>
  <script src="public/js/jquery.nicescroll.min.js"></script>
  <script src="public/js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="public/js/skrollr.min.js"></script>
  <script src="public/js/jquery.scrollTo.min.js"></script>
  <script src="public/js/jquery.localScroll.min.js"></script>
  <script src="public/js/stellar.js"></script>
  <script src="public/js/jquery.appear.js"></script>
  <!--<script src="public/js/jquery.flexslider-min.js"></script>-->

  <!-- Template Main Javascript File -->

  <script src="public/js/main.js"></script>
</body>
</html>