<!-- John Gomes -->
<!-- Description: this is the partial view used at the beginning of each view -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCMS</title>

    <!-- CSS section -->

    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="public/js/fancybox/jquery.fancybox.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="public/css/isotope.css" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">
    <link rel='stylesheet' href='public/css/style.css'>
    <link rel="stylesheet" href="public/css/default.css">
</head>
<body>

