<% include partials/header.ejs %>

  <!--Carousel-->
  <section id="intro">
    <div class="intro-content">
      <h2>Welcome to CFMS!</h2>
      <h3>Customer Feedback Management System</h3>
      <div>
        <a href="#section-about" class="btn btn-info scrollto">Get Started</a>
      </div>
    </div>
  </section>

  <!-- About Us-->
   <section id="section-about" class="section mar-top40">
    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-heading">About CFMS</h2>
        <p>CFMS gives customers a voice from within their customer experience, completely on their terms, capturing rich context
        regarding their feedback, and then applying advanced analytics to take real-time and targeted action.
        The result: improvements to the consistency and quality of customer experience that deliver measurable business impact.</p>
      </div>
      <hr>
      <div class="row mar-bot40 mar-top40">
        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-chat">listen</a>
            </div>
          </div>
          <h3 class="text-bold">Listen</h3>
          <p>CFMS captures the voice of customers across various industries and organizations.</p>
          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-user">Analyze</a>
            </div>
          </div>
          <h3 class="text-bold">Analyze</h3>
          <p>At CFMS, our customer service team combs through each feedback so we can provide stellar service.</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-contract">Act</a>
            </div>
          </div>
          <h3 class="text-bold">Act</h3>
          <p>We forward your feedback to the specific company or organization while keeping you in the loop.</p>
          <div class="clear"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-clock">speed</a>
            </div>
          </div>
          <h3 class="text-bold">Speed</h3>
          <p>Our implementation doesn't take forever, and we'll help you get to the bottom of your questions before your feedback is irrelevant.</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-screen">manage</a>
            </div>
          </div>
          <h3 class="text-bold">Manage</h3>
          <p>Manage questions, complaints, concerns and unresolved issues in a single efficient workflow.</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-cog">Smart</a>
            </div>
          </div>
          <h3 class="text-bold">Smart</h3>
          <p>We analyze high volumes of unstructured data such as customer comments and company notes to uncover recurring themes and systemic issues</p>

          <div class="clear"></div>
        </div>

      </div>
    </div>
  </section>

  <!-- Contact Us-->
   <section id="section-contact" class="section appear">
    <div class="container">
        <div class="section-header text-center">
          <h2 class="section-heading animated" data-animation="bounceInUp">Contact Us</h2>
        </div>
        <hr>
        <form method="post" class="mar-top40" action="#">
          <!--Row-->
          <div class="row">
            <div class="form-group col-lg-4 offset-2">
              <label class="cols-sm-2 control-label">First Name</label>
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control formInput" name="firstname"/>
              </div>
            </div>
            <div class="form-group col-lg-4">
              <label class="cols-sm-2 control-label">Last Name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control formInput" name="lastname"/>
              </div>
            </div>
          </div>

          <!--Row-->
          <div class="row">
            <div class="form-group col-lg-4 offset-2">
              <label class="cols-sm-2 control-label">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                </div>
                <input type="email" class="form-control formInput" name="email"/>
              </div>
            </div>
            <div class="form-group col-lg-4">
              <label class="cols-sm-2 control-label">Date</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
                </div>
                <input type="date" class="form-control formInput" name="date"/>
              </div>
            </div>
          </div>

          <!--Row-->
          <div class="row">
            <div class="form-group col-lg-8 offset-2">
              <label class="cols-sm-2 control-label">Subject</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-book fa" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control formInput" name="subject"/>
              </div>
            </div>
          </div>

          <!--Row-->
          <div class="row">
            <div class="form-group col-lg-8 offset-2">
              <label class="cols-sm-2 control-label">Message</label>
              <textarea class="formTextArea form-control formInput " name="feedback" style="height: 150px" placeholder="Enter your message..." required></textarea>
            </div>
          </div>

          <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-lg btn-block mar-top30 text-uppercase col-lg-4 offset-sm-4">Submit</button>
          </div>
        </form>
    </div>
  </section>

<% include partials/footer.ejs %>