<div class="container ">
  <div class="row mar-top200">
    <!--New feedback-->
    <div class="col-sm-4 offset-2">
      <div class="cust-widget well well-sm">
        <div class="icon">
          <i class="fas fa-comments"></i>
        </div>
        <div class="container">
          <hr class="white-divider">
        </div>
        <div class="text">
          <h1 class="display-4">10</h1>
          <h3 class="text-uppercase font-weight-light">Feedbacks</h3>
        </div>
        <div class="cust-widget-button mar-top30 text-center ">
          <i class="fas fa-comment fa-lg mar-right10 text-white"></i><a class="text-white text-uppercase font-large" routerLink="/customer/new-feedback">New Feedback</a>
        </div>
      </div>
    </div>
    <!--end new feedback-->
    <!--View Feedbacks-->
    <div class="col-sm-4">
      <div class="cust-widget well well-sm">
        <div class="icon">
          <i class="fas fa-list-ul"></i>
        </div>
        <div class="container">
          <hr class="white-divider">
        </div>
        <div class="text">
          <h1 class="display-4">5</h1>
          <h3 class="text-uppercase font-weight-light">View Feedbacks</h3>
        </div>
        <div class="cust-widget-button mar-top30 text-center ">
          <i class="fas fa-eye fa-lg mar-right10 text-white"></i><a class="text-white text-uppercase font-large">View List</a>
        </div>
      </div>
    </div>
    <!--end view feedback-->
  </div>
  <!--end row-->
</div>
<!--end container-->
