<div class="container mar-top100 mar-bot40">

  <button type="button" class="btn btn-link" routerLink="/admin-dashboard">< Dashboard</button>
  <button type="button" class="btn btn-link float-right" routerLink="/customer-dashboard">Dashboard ></button>

  <div class="mar-top40" *ngIf="userList?.length <=0" >
    <div class="alert alert-primary col-lg-12 alert-dismissible" role="alert">
      <a data-dismiss="alert" class="close" aria-label="close">&times;</a>
          No user found in database. Please try adding a user.
    </div>
  </div>

  <div class="container mar-top20" *ngIf="userList?.length >0">
    <h1 class="display-4 text-center">User List</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center"><i class="fa fa-info"></i></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let user of userList">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-link" (click)="viewUser(user._id)">View</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>



</div>


