<div class="navbar fixed-top navbar-expand-lg">
  <div class="container navBarCustom navbar-inner">
    <!--Logo-->
    <div class="navbar-header">
      <div class="navbar-logo">
        <a routerLink="/"><img src="../../../assets/images/logo.png" alt="CCMS logo"></a>
      </div>
    </div>
    <!--Menu-->
    <ul class="nav navbar-nav navbar-right" id="nav">
      <!--Navbar menu items visible based on displayed page-->
      <div class="mar-left10 mar-right10">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
      </div>

      <div *ngIf="user" class="mar-left10 mar-right10">
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer-dashboard" routerLinkActive="active-link">Dashboard</a>
        </li>
      </div>

      <div *ngIf="user" class="mar-left10 mar-right10">
        <li class="nav-item">
          <a class="nav-link" href="" routerLinkActive="active-link" data-toggle="tooltip" title="Profile"><i class="fas fa-user mar-right10"></i>{{firstName}}</a>
        </li>
      </div>

      <div *ngIf="user" class="mar-left10">
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()"><i class="fas fa-sign-out-alt mar-right10"></i>Logout</a>
        </li>
      </div>

      <div *ngIf="!user" class="mar-left10">
        <!--Login Dropdown (includes form)-->
        <li class="dropdown nav-item">
          <a class="dropdown-toggle nav-link " data-toggle="dropdown" href="">Log in<span class="caret"></span></a>
          <ul class="login-dp dropdown-menu float-left">
            <li>
              <div class="row">
                <div class="col-md-12">
                  <form ngNativeValidate class="form loginForm" [formGroup]="form" (ngSubmit)="login()">
                    <div class="form-group">
                      <input type="email" class="form-control" formControlName="email" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control"  formControlName="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block loginBtn">Log In</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-12 bottom text-center signUp">
                  New here? <a routerLink="/register"><b class="text-CFMS">Register</b></a>
                  <div  class="mar-top20 mar-bot10"  *ngIf="error">
                     <span class="text-danger font-weight-bold text-uppercase">{{errorMessage}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </div>
</div>
