<main class="container mar-top100 mar-bot40">

  <button type="button" class="btn btn-link" routerLink="/customer-dashboard">< Dashboard</button>
  <button type="button" class="btn btn-link float-right" routerLink="/list-feedback">Feedback List ></button>

  <div class="col-lg-12 mar-top50 mar-bot30">
    <h1 class="display-4 text-center">New Feedback</h1>
    <hr>
  </div>

  <div *ngIf="message">
    <div class="alert alert-success col-lg-8 offset-2 alert-dismissible" role="alert">
      <a data-dismiss="alert" class="close" aria-label="close">&times;</a>
      Your feedback has been submitted. Hold tight, out team will contact you soon.
    </div>
  </div>
  <div *ngIf="errorMessage">
    <div class="alert alert-danger col-lg-8 offset-2 alert-dismissible" role="alert">
      <a data-dismiss="alert" class="close" aria-label="close">&times;</a>
      Failed to submit feedback. Please try again.
    </div>
  </div>

  <form ngNativeValidate class="form" [formGroup]="feedbackForm" #userForm="ngForm" (ngSubmit)="submitFeedback()">

    <div class="row">
      <div class="form-group col-lg-4 offset-2">
        <label class="cols-sm-2 control-label">First Name</label>
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control formInput" value="{{firstName}}" readonly/>
        </div>
      </div>

      <div class="form-group col-lg-4">
        <label class="cols-sm-2 control-label">Last Name</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control formInput"  value="{{lastName}}" readonly/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-4 offset-2">
        <label class="cols-sm-2 control-label">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          </div>
          <input type="email" class="form-control formInput"  value="{{email}}" readonly/>
        </div>
      </div>

      <div class="form-group col-lg-4">
        <label class="cols-sm-2 control-label">Date</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control formInput" value="{{date}}" readonly/>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="form-group col-lg-8 offset-2">
      <label class="cols-sm-2 control-label">Company</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-building" aria-hidden="true"></i></span>
        </div>
        <select class="form-control" formControlName="company" name="company" required>
          <option value="none" selected>Select a company</option>
          <option *ngFor="let company of companies" >{{company.name}}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="form-group col-lg-8 offset-2">
      <label class="cols-sm-2 control-label">Comment</label>
      <div class="input-group">
        <textarea class="form-control" formControlName="feedback" ng-model="feedback" name="feedback" rows="3" required></textarea>
      </div>
    </div>

  </div>

    <div class="col-lg-12">
      <button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase col-lg-4 offset-4 mar-top60 signupBtn" [disabled]="!feedbackForm.valid">Submit Feedback</button>
    </div>

  </form>
</main>


